input[type="radio"] 
{
    display: none;
}

input[type="radio"]:checked + span 
{
    outline: 4px solid #ffffff;
    outline-offset: -8px;
    transform: scale(1.1); 
    transition: .2s;
}

#colorLabel
{
    position: relative;
    flex: 0 0 50px;
    display: inline-block;
    margin: 10px;
    margin-bottom: 20px;
    width: 50px;
    height: 80px;
    cursor: pointer;
}

#colorLabel span:hover
{
    outline: 4px solid #ffffff;
    outline-offset: -8px;
    transform: scale(1.1); 
}

#colorLabel span
{
    display: block;
    width: 50px;
    height: 80px;
    border-radius: 25px 25px 10px 10px;
    outline-color: #ffffff;
    transition: .2s ease-in-out;
    background-color: #ffffff;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.13));
}   

.lockIcon
{
    position: absolute;
    z-index: 1;
    display: block;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
    width: 24px;
    height: auto;
    fill: #8FC0FF;
}