#container
{
  align-self: center;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.wrapper
{
    margin:auto ;

    width: 100%;
    position:sticky;
    top: 0px;
    background-color: white;
    padding-bottom: 10px ;
    z-index: 1;
}

.logoOverlay
{
    margin-top: 20px;
    width: 100%;
    max-height: 450px;
    background-color: #8FC0FF;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}
.logoOverlay img
{
    width: 100%;
    max-height: 450px;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
}

#fabric-canvas-wrapper
{
    max-width: 600px;
    height: 100%;
}

.userInfo{
    position: absolute;
    z-index: 1;
    display: flex;
    top:0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.userInfo p 
{
    font-weight: 900;
    font-style: italic;
    padding: 5px 10px;
    border-radius: 20px;
    margin:20px;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

canvas{
    border-radius: 30px;
    width: 500px;
    height: 280px;
}